/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

body,
html {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
}

body {
  background-size: cover;
  background-image: url("../image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.flower {
  top: 0;
  position: absolute;
  width: 30px;
  /* Adjust the size of the flower */
  height: 30px;
  pointer-events: none;
  animation: flowerFall 6s linear forwards;
  z-index: 1;
  /* Adjust as needed */
}

@keyframes flowerFall {
  to {
    transform: translate(calc(var(--translateX, 0) * 1px), 100vh) rotate(720deg);
    opacity: 0.2;
  }
}

#container {
  display: flex;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

#container .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#container header {
  font-size: 40px;
  color: #000;
  font-weight: 600;
  text-align: center;
}

#container h2 {
  text-align: center;
  margin: 0;
}

#container p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  max-width: 550px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  font-family: "Cardo";
}

#container #time-content {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}

#time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number,
.time .text {
  font-weight: 500;
  color: #000;
}

.time .number {
  font-size: 40px;
}

.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

#contact-us {
  text-align: center;
  margin-top: 10px;
  font-family: "Cardo";
}

#input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 360px;
  width: 100%;
  margin-top: 20px;
  column-gap: 20px;
}

#input-box a {
  text-decoration: none;
  pointer-events: auto;
}

#input-box button {
  height: 100%;
  outline: none;
  border: none;
  border: 1px solid #fff;
  border-radius: 1em;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 55);
  font-size: 100%;
  font-weight: 500;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  color: #000;
  cursor: pointer;
  transition: all 0.05s ease;
}

#input-box button img {
  margin-left: 10px;
  width: 20px;
}

#input-box button.hovered {
  background-color: #8b795e;
  color: #fff;
}

#input-box button:focus {
  outline: none;
  border-color: #F5F5DC;
}

@media screen and (max-width: 300px) {
  #container header {
    font-size: 50px;
  }
}
